---
name: CI

# yamllint disable-line rule:truthy
on:
  workflow_dispatch:

permissions:
  actions: read
  contents: read
  packages: read
  security-events: write

jobs:
  workflows:
    uses: einschmidt/workflows/.github/workflows/app-ci.yaml@main
